<footer>
    <div>
        <p><strong>Éditions du Renard Spatial</strong></p>
        <p><a href="/pages/mentionslegales">Mentions légales</a> – <a href="/pages/contact">Contact</a></p>
        <p>Réseaux sociaux : <a
                href="https://www.facebook.com/%C3%89ditions-du-Renard-Spatial-102361015047522">Facebook</a>,
            <a href="https://twitter.com/EditionRSpatial">Twitter</a></p>
    </div>
    <div>
        <p>Ce site n’utilise aucun cookie.</p>
        <p>Le code du site est mis à disposition par les Éditions du Renard Spatial<br>selon les termes de la licence <a
                href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
        <p>Le code source est disponible sur <a href="https://github.com/SpaceFox/editionsdurenardspatial">Github</a>.
        </p>
        <p></p>
    </div>
    <div>
        <p><strong>Tous les prix sont donnés TTC à titre indicatif</strong> et ne sont valables que pour la France.</p>
        <p>Ce site est toujours en travaux, merci de votre indulgence !</p>
    </div>
</footer>
