<nav class="permanent" role="navigation" aria-label="main navigation">
    <ul class="main-menu">
        <li><a href="/" aria-label="Retour à l’accueil"><img src="/img/logoseul.svg"/></a></li>
        <li><a href="/livres">Livres</a></li>
        <li><a href="/auteurs">Auteurs</a></li>
        <li><a href="/pages/contact">Contact</a></li>
    </ul>
    <ul class="buy">
        <li><a role="button" href="/pages/librairies">Acheter</a></li>
    </ul>
</nav>

{{ if not .IsHome }}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div>
        <ul>
            {{- template "breadcrumbnav" (dict "p1" . "p2" .) -}}
        </ul>
    </div>
</nav>
{{ end }}
